---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import type { EmbeddedHtml } from "@/types/EmbeddedHtml";
import { getPage } from "@/utils/sanity";
import { findPageComponents } from "@/utils/utils";

const page = await getPage("/donate/fundraise-for-wscah");

const htmls = findPageComponents(
  page,
  (c) => c._type === "embeddedHtml"
) as EmbeddedHtml[];
---

<Layout title="Fundraise for WSCAH">
  <main>
    <p><a href="/">Go Back</a></p>
    <h1>{page.title}</h1>
    <div>
      {htmls.length > 0 && <div set:html={htmls[0].html} />}
    </div>
  </main>
</Layout>
