---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="WSCAH Every Action Form Test">
  <main>
    <h1>WSCAH Donation Form Tester</h1>
    <p><a href="/option1">Option 1</a></p>
    <p><a href="/option2">Option 2</a></p>
    <p><a href="/option3">Option 3</a></p>
  </main>
</Layout>
