---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="WSCAH Form Test">
  <main>
    <h1>WSCAH Form Test</h1>
    <p>Please see if each of the following forms load as expected.</p>
    <p><a href="/donate">Donation Page</a></p>
    <p><a href="/matching-gifts">Matching Gifts</a></p>
    <p><a href="/donor-advised-funds">Donor Advised Funds</a></p>
    <p><a href="/fundraise-for-wscah">Fundraise for WSCAH</a></p>
    <p><a href="/newsletter">Newsletter Subscription</a></p>
    <p><a href="/holiday-challenge">Healthy Foods Holiday Challenge</a></p>
  </main>
</Layout>
