---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="Option 1">
  <main>
    <h1>Option 1</h1>
    <p><a href="/">Go Back</a></p>
    <div>
      <link
        rel="preload"
        href="https://static.everyaction.com/ea-actiontag/at.js"
        as="script"
        crossorigin="anonymous"
      />
      <link
        rel="preload"
        href="https://static.everyaction.com/ea-actiontag/at.min.css"
        as="style"
      />
      <script
        type="text/javascript"
        src="https://static.everyaction.com/ea-actiontag/at.js"
        crossorigin="anonymous"></script>
      <link
        rel="preload"
        href="https://nvlupin.blob.core.windows.net/designs/CustomStylesheet_59b9b6652237f4d3f99e4a4fd4ff8226a80b0c8492a2499f229bb760a7026c18.css"
        as="style"
      />
      <div
        class="ngp-form"
        data-form-url="https://secure.everyaction.com/v1/Forms/Q2wwPBYCaUSx-RKLAazt1w2"
        data-custom-css="https://nvlupin.blob.core.windows.net/designs/CustomStylesheet_59b9b6652237f4d3f99e4a4fd4ff8226a80b0c8492a2499f229bb760a7026c18.css"
        data-fastaction-endpoint="https://fastaction.ngpvan.com"
        data-inline-errors="true"
        data-fastaction-nologin="true"
        data-mobile-autofocus="false"
      >
      </div>
    </div>
  </main>
</Layout>
